@font-face{font-family:'Geizer'; src:url(font/Geizer.otf);}
@font-face{font-family:'Legend'; src:url(font/legend_M54/LegendM54.ttf);}
@font-face{font-family:'wanters'; src:url(font/The_Wanters_DEMO.ttf);}


body{
    height: 1800px;
    background-color: teal;
}


.tubuh {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
    height: 1400px;
    border: 3px solid black;
}

.t_kiri {
    background: linear-gradient(rgb(0, 119, 164),rgb(3, 9, 63));
    height: 1400px;
    width: 45%;
    float: left;
}

.t_kanan {
    background-color: white;
    height: 1400px;
    width: 55%;
    float: right;
}

.hexagon {
    position: absolute;
    width: 300px; 
    height: 173.21px;
    margin: 86.60px 0;
    background-image: url(foto.png);
    background-size: auto 346.4102px;
    background-position: center;
    margin-left: 282px;
    margin-top: 175px;
}

.hexTop,
.hexBottom {
    position: absolute;
    z-index: 1;
    width: 212.13px;
    height: 212.13px;
    overflow: hidden;
    -webkit-transform: scaleY(0.5774) rotate(-45deg);
    -ms-transform: scaleY(0.5774) rotate(-45deg);
    transform: scaleY(0.5774) rotate(-45deg);
    background: inherit;
    left: 43.93px;
}

/*counter transform the bg image on the caps*/
.hexTop:after,
.hexBottom:after {
    content: "";
    position: absolute;
    width: 300.0000px;
    height: 173.20508075688775px;
    -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    transform:          rotate(45deg) scaleY(1.7321) translateY(-86.6025px);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    background: inherit;
}

.hexTop {
    top: -106.0660px;
}

.hexTop:after {
    background-position: center top;
}

.hexBottom {
    bottom: -106.0660px;
}

.hexBottom:after {
    background-position: center bottom;
}

.hexagon:after {
    content: "";
    position: absolute;
    top: 0.0000px;
    left: 0;
    width: 300.0000px;
    height: 173.2051px;
    z-index: 2;
    background: inherit;
}

.judul{
    left: -50px;
    top: 200px;
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
    margin-top: 100px;
    margin-left: -200px;
    font-family: Legend;
}

.j_atas {
    color: white;
    font-size: 16pt;
    letter-spacing: 20px;
}

.j_bawah{
    color: white;
    letter-spacing: 79px;
    line-height: 0px;
}

.page button{
    letter-spacing: 2px;
    padding-top: -10px;
    padding-left: 15px;
    color: rgb(0, 119, 164);
}

a {
    text-decoration: none;
    color: cornflowerblue;
    font-family: Legend;
}

ul button{
    position: relative;
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
}

.p_kiri{
    margin-top: 355px;
}

.p_kiri rect{
    stroke: white;
    stroke-width: 10px;
    fill: white;
}

.kontak {
    padding-top: 10px;
    color: rgb(255, 255, 255);
    line-height: 2px;
    padding-left: 30px;
    letter-spacing: 5px;
    font-size: 16pt;
    font-family: Geizer;
}

.kontak h3{
    font-family: wanters;
}

.borderkontak {
    fill: rgb(255, 255, 255);
    stroke-width:10;
    stroke: rgb(255, 255, 255);
}

.isikontak{
    line-height: 20px;
    margin-top: -50px;
    text-align: center;
}

.telepon img{
    margin-top: 10px;
    margin-left: -150px;
    height: 40px;
}

.telepon h1{
    margin-left: 70px;
    margin-top: -30px;
}

.email{
    margin-top: 100px;
}

.email img{
    margin-top: 10px;
    margin-left: -150px;
    height: 40px;
}

.email h1{
    margin-left: 70px;
    margin-top: -30px;
}

.lokasi{
    margin-top: 100px;
}

.lokasi img{
    margin-top: 10px;
    margin-left: -150px;
    height: 40px;
}

.lokasi h1{
    margin-left: 70px;
    margin-top: -30px;
}

.lokasi h3{
    line-height: 30px;
    text-align: center;
}


.nama{
    position: absolute;
    margin-left: 200px;
    margin-top: -580px;
    font-family: Geizer;
    color: rgb(0, 119, 164);
    font-size: 16pt;
    line-height: 20px;
}

.namadepan {
    letter-spacing: 10px;
}

.namabelakang{
    letter-spacing: 3px;
}

.tentangsaya{
    border: 3px solid transparent;
    padding-left: 200px;
    margin-top: -450px;
    color: rgb(0, 119, 164);
    letter-spacing: 5px;
    line-height: 2px;
    font-size: 16pt;
    font-family: Geizer;
}

.tentangsaya h3{
    margin-top: -68px;
    line-height: 25px;
}

.borderts{
    line-height: 10px;
    fill: rgb(0, 119, 164);
    stroke-width:10;
    stroke: rgb(0, 119, 164);
}


.p_kanan {
    fill: rgb(0, 119, 164);
    stroke-width:10;
    stroke: rgb(0, 119, 164);
    margin-top: 516px;
}

.riwayat_p {
    border: 3px solid transparent;
    padding-left: 50px;
    margin-top: 135px;
    color: rgb(0, 119, 164);
    line-height: 2px;
    letter-spacing: 5px;
    font-size: 16pt;
    font-family: Geizer;
}

.borderrp {
    fill: rgb(0, 119, 164);
    stroke-width:10;
    stroke: rgb(0, 119, 164);
}

.isirp{
    margin-top: -90px;
    line-height: 3px;
}

.keterampilan {
    border: 3px solid transparent;
    margin-top: 10px;
    color: rgb(0, 119, 164);
    line-height: 2px;
    padding-left: 50px;
    letter-spacing: 5px;
    font-size: 16pt;
    font-family: Geizer;
}

.borderket {
    fill: rgb(0, 119, 164);
    stroke-width:10;
    stroke: rgb(0, 119, 164);
    margin-top: auto;
}

.isiket {
    margin-top: -70px;
    letter-spacing: 5px;
}

.ket1 {
    padding-top: 20px;  
}

.ket2{
    padding-left: 10px;
    padding-top: 30px;
}

.ket3{
    padding-top: 30px;
}

.ket1 h5{
    padding-left: 100px;
    margin-top: -20px;
}

.ket2 h5{
    padding-left: 90px;
    margin-top: -20px;
}

.ket3 h5{
    padding-left: 100px;
    margin-top: -20px;
}

.isiket img{
    height: 40px;
}

.trapezoidkanan {
    position: absolute;
    border-bottom: 15px solid rgb(3, 9, 63);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 510px;
    margin-top: 734px;
}

.trapezoidkiri {
    border-bottom: 15px solid rgb(255, 255, 255);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: 0;
    width: 410px;
    margin-bottom: auto;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}